<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PizzaProjekt</title>
    <link rel="stylesheet" th:href="@{/css/Style.css}">
</head>
<body>

<nav>
    <a class="brand" href="/">PizzaProjekt</a>
    <a th:href="@{/pizza/list}">Menu</a>
    <th:block th:if="${session.loggedInUser == null}">
        <a th:href="@{/user/login}">Log ind</a>
        <a th:href="@{/user/register}">Opret bruger</a>
    </th:block>
    <th:block th:if="${session.loggedInUser != null}">
        <span style="color:white; font-size:14px;" th:text="'Hej, ' + ${session.loggedInUser?.name}">Hej</span>
        <a th:href="@{/user/logout}">Log ud</a>
    </th:block>
</nav>


<div class="hero">
    <h1>Frisk pizza leveret til din dør</h1>
    <p>Se vores lækre menu og bestil din favorit pizza i dag.</p>
    <a th:href="@{/pizza/list}" class="btn">Se menu</a>
</div>

</body>
</html>
